.header{
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav-center {
  position: relative;
  width: 100%;
  max-width: 1120px;
  box-shadow: 0px 3px 5px 0px rgba(169,86,182,0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(169,86,182,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(169,86,182,0.75);
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.2rem;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  background: #f7f4f4;

  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 90%;
  padding-left: 1rem;
  padding-top: 1rem;
  animation: navbar 0.5s linear 0s forwards;
}
.toggle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-icon{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s linear;
}
.menu-icon:hover{
    transform: scale(1.5);
}

.hide-bar {
  display: none;
}
.nav-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

@keyframes navbar {
    0% {
      opacity: 0;
      transform: translateX(-500px);
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
@media screen and (min-width:800px) {
  .nav-bar{
    position: static;
    background: none;
    padding: 0;
    min-width: 0;
    animation: none;
  }
    .menu-icon{
      display: none;
    }
    .nav-links{
      flex-direction: row;
      margin-bottom: 0rem;
      gap:3em;
    }
    .hide-bar{
      display: flex;
    }
    .toggle-header{
      display: none;
    }
    .nav-center{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
  }

  @media screen and (min-width:1100px) {
    .nav-center{
      box-shadow: none;
    }    
  }