@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%; 
  /* override default */
}
:root {
  /* primary colors */
  ---primary-100: #d3d4d4;
  --primary-200: #a8a8aa;
  --primary-300: #7c7d7f;
  --primary-400: #515155;
  --primary-500: #25262a;
  --primary-600: #1e1e22;
  --primary-700: #161719;
  --primary-800: #0f0f11;
  --primary-900: #070808;

  /* yellow colors */
  --yellow-100: #fff3d2;
  --yellow-200: #ffe8a5;
  --yellow-300: #fedc78;
  --yellow-400: #fed14b;
  --yellow-500: #fec51e;
  --yellow-600: #cb9e18;
  --yellow-700: #987612;
  --yellow-800: #664f0c;
  --yellow-900: #332706;

  /* grey colors */
 
  --grey-500: #ffffff;
  --grey-600: #cccccc;
  --grey-700: #999999;
  --grey-800: #666666;
  --grey-900: #333333;

  /* green colors */

  --green-100: #def9eb;
  --green-200: #bef2d7;
  --green-300: #9decc4;
  --green-400: #7de5b0;
  --green-500: #5cdf9c;
  --green-600: #4ab27d;
  --green-700: #37865e;
  --green-800: #25593e;
  --green-900: #122d1f;

  /* purple colors */

  --purple-100: #eeddf0;
  --purple-200: #ddbbe2;
  --purple-300: #cb9ad3;
  --purple-400: #ba78c5;
  --purple-500: #a956b6;
  --purple-600: #874592;
  --purple-700: #65346d;
  --purple-800: #442249;
  --purple-900: #221124;


  /* fonts  */
  --headingFont: 'Nunito', sans-serif;
  --bodyFont: 'Poppins', sans-serif;


  --backgroundColor: #FAFAFA;
  --textColor:var(--primary-900);
  --borderRadius: 0.5rem;
  --letterSpacing: 1px;
  --max-width: 1120px;


}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #ffffff; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);

  font-size: 1.6rem;
}
section{
  max-width: var(--max-width);
}


a {
  color: inherit;
  text-decoration: none;
}

p {


  max-width: 40em;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;

  font-family: var(--headingFont);
  font-weight: 600;
line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}


h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
  
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
input:focus{
  outline: none;
}
/* remove the arrows inside the input tag */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button{
  font-size: 2rem;
  color: var(--grey-500);
  padding: 0.4em 0.75em;
  background: var(--purple-600);
  border-radius: 5px;
  border: none;
  transition: 0.4s ease-in-out;
}
button:hover{
  background: var(--grey-500);
  color:var(--purple-700);
  transform: scale(1.05);
  border: 1px solid var(--purple-700)
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (min-width: 800px){
  main{
   max-width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
  }
}


@media screen and (min-width: 1000px){
  main{
    max-width: 85%;
  }
}
